* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d_flex {
  display: flex;
}

.t_center {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d_flex {
  display: flex;
}

.t_center {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  flex-wrap: wrap;
}

.container .movie_card {
  width: calc(20% - 30px);
  height: 300px;
  border: 1px solid black;
  margin: 15px;
}

.container .movie_card .movie_title {
  font-weight: bold;
}

.container .movie_card .movie_description {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d_flex {
  display: flex;
}

.t_center {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
  z-index: 999;
}

header li {
  margin: 0 10px;
}

main {
  height: 100vh;
  margin-top: 100px;
}

