@import './common';

.btn_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        height: 100px;
        width: 300px;
        font-size: 2rem;
        background-color: red;
        border: none;
        border-radius: 10px;

        a {
            color: white;
        }
    
    }
}