@import './common';

.container {
    flex-wrap: wrap;

    .movie_card {
        width: calc(100% / 5 - 30px);
        height: 300px;
        border: 1px solid black;
        margin: 15px;

        .movie_title {
            font-weight: bold;
        }

        .movie_description {
            font-size: 12px;
        }
    }
}